{% extends 'layouts/app.twig' %}
{% block title %} About Us {% endblock %}

{% block content %}
      <h4 class='text-danger'><strong>About</strong></h4>
      <hr />
      <div class='row'>
            <div class='col-md-3 text-center'>
                  <div class=''>
                        <img src='/images/designer.png' style='width:70%; hieght:70%'>
                        <p><small>Beauty a.k.a ArcAngel</small></p>
                  </div>
            </div>
            <p></p>
            <div class='col-md-9'>
                  <h4 class='w3-light-blue' style='padding: 10px'>Designer</h4>
                  <p>kasjhdfkjshd fjkashdf ksdhf ksadhf kasdhf ksdfh aksdfh kasdhf 
                  kaksjdf sdf skdjhf askdhf kjsdh fkajsdhf kjasdhf kasdhf kjsdhf 
                  kasjhdfkjshd fjkashdf ksdhf ksadhf kasdhf ksdfh aksdfh kasdhf 
                  kaksjdf sdf skdjhf askdhf kjsdh fkajsdhf kjasdhf kasdhf kjsdhf 
                  kasjhdfkjshd fjkashdf ksdhf ksadhf kasdhf ksdfh aksdfh kasdhf 
                  kaksjdf sdf skdjhf askdhf kjsdh fkajsdhf kjasdhf kasdhf kjsdhf 
                  kasjhdfkjshd fjkashdf ksdhf ksadhf kasdhf ksdfh aksdfh kasdhf 
                  kaksjdf sdf skdjhf askdhf kjsdh fkajsdhf kjasdhf kasdhf kjsdhf 
                  </p>
            </div>
      </div>
      <hr />
     
      <div class='container row'>

            <div class='col-md-6'>
                  <h4 class='text-info w3-light-blue' style='padding:10px'>ArcAngel</h4>
                 <p> aksjdf sdf skdjhf askdhf kjsdh fkajsdhf kjasdhf kasdhf kjsdhf 
                  kasjhdfkjshd fjkashdf ksdhf ksadhf kasdhf ksdfh aksdfh kasdhf 
                  kaksjdf sdf skdjhf askdhf kjsdh fkajsdhf kjasdhf kasdhf kjsdhf 
                  kasjhdfkjshd fjkashdf ksdhf ksadhf kasdhf ksdfh aksdfh kasdhf
                  </p>
                  <p> kaksjdf sdf skdjhf askdhf kjsdh fkajsdhf kjasdhf kasdhf kjsdhf 
                  kasjhdfkjshd fjkashdf ksdhf ksadhf kasdhf ksdfh aksdfh kasdhf
                   kaksjdf sdf skdjhf askdhf kjsdh fkajsdhf kjasdhf kasdhf kjsdhf 
                  kasjhdfkjshd fjkashdf ksdhf ksadhf kasdhf ksdfh aksdfh kasdhf 
                  kaksjdf sdf skdjhf askdhf kjsdh fkajsdhf kjasdhf kasdhf kjsdhf 
                  </p>
                  
                  <p>kasjhdfkjshd fjkashdf ksdhf ksadhf kasdhf ksdfh aksdfh kasdhf 
                  kaksjdf sdf skdjhf askdhf kjsdh fkajsdhf kjasdhf kasdhf kjsdhf 
                  kasjhdfkjshd fjkashdf ksdhf ksadhf kasdhf ksdfh aksdfh kasdhf 
                  kaksjdf sdf skdjhf askdhf kjsdh fkajsdhf kjasdhf kasdhf kjsdhf 
                  kasjhdfkjshd fjkashdf ksdhf ksadhf kasdhf ksdfh aksdfh kasdhf 
                  kaksjdf sdf skdjhf askdhf kjsdh fkajsdhf kjasdhf kasdhf kjsdhf 
                  kasjhdfkjshd fjkashdf ksdhf ksadhf kasdhf ksdfh aksdfh kasdhf 
                  kaksjdf sdf skdjhf askdhf kjsdh fkajsdhf kjasdhf kasdhf kjsdhf 
                  </p>
                 
            </div>       

            <div class='col-md-4 col-md-offset text-left'>
                  <h4 class='text-info w3-light-blue' style='padding:10px'>Achievements</h4>
                  <ul>
                        <li>Best Designer 2001</li>
                        kljsdfjalsdjfklsdjflkajsdklfjlsadfjksd
                        <li>Best Designer 2001</li>
                        <li>Best Designer 2001</li>
                        <li>Best Designer 2001</li>
                        <li>Best Designer 2001</li>
                        <li>Best Designer 2001</li>
                        <li>Best Designer 2001</li>
                        <li>Best Designer 2001</li>
                        <li>Best Designer 2001</li>
                  </ul>
            </div>       
           <p></p>
            {# <div class='col-md-2 w3-light-gray text-left' style='padding:5px'>
                  <h4 class='text-info ' style='padding:10px'>Address:</h4>
                  Street 2, Office 12, Banana Estate, Lagos, Nigeria
                  <hr />
                  <h4 class='text-info '>Tel:</h4>
                  <p>08022963985<br />08022963985<br />08022963985<br /></p>
                   <hr />
                  <h4 class='text-info'>Email:</h4>
                  <p>arcagel@gmail.com<br />arcagel@gmail.com<br />arcagel@gmail.com<br /></p>
            </div>        #}
      </div>

      <hr />
      
      
{% endblock %}