{% extends 'layouts/app.twig' %}
{% block title %} Blog View {% endblock %}
{% block content %}
    
    <h4 class='text-danger'><strong>Blogs</strong></h4>
    <hr />
    <div class='row'>
        <div class='col-md-2 text-center'>
            <img src='/images/designer.png' style='width:70%; hieght:70%'>
            <p><small>ArcAngel</small></p>
        </div>  
        <div class='col-md-10 text-left'>
            <h4 class='text-danger'><code>THE BEST WAY TO BUY PRODUCT ONLINE</code></h5>
            <p>
                <small>sadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                sadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                </small>
            </p>

             <p>
                <small>sadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                sadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdfsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                </small>
            </p>

             <p>
                <small>sadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf

                </small>
            </p>

             <p>
                <small>sadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                sadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdfsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdfsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                </small>
            </p>

             <p>
                <small>sadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                </small>
            </p>

             <p>
                <small>sadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                sadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                ljklsdf sdjf lsadjf lsdf jlasdjf lsadj flsd flsd fas df asdf asdf asdf asd fasd fasd 
                fsadhfkjsd skdjhf kjshdf khd fkjhsd fkhsdf kjshdf ksdhf sdkfh sdkfh ksdfh skdf skdf
                </small>
            </p>
            <small class='text-danger'><b>12th March, 2020</b></small>
        </div>      
    </div>
    <hr />
<h4 class='text-danger'>104 Comments</h4>
    <hr />
    <div>
        
        <div class='row'>
            <div class='col-md-4 col-offset-8'>
                <form>
                     <div>
                            <input type="text" id='fullname' name='fullname' placeholder='Fullname' class='form-control'>
                    </div>
                            <br />
                    <div>
                            <input type="email"  id='email' name='email' placeholder='email' class='form-control'>
                    </div>
                            <br />
                    <div>
                            <textarea  id='comment' name='message' placeholder='comment' style='height:150px' class='form-control'></textarea>
                    </div>
                            <br />
                    <div>
                            <input type="submit" value='Comment' class='form-control w3-light-blue'>
                    </div>
                       
                </form>
            </div>
        </div>
    </div>
    <hr />
    <div class='comment w3-light-gray p-3'>
        <div class='text-left ' style='padding:10px 10px'>
            <h5><strong>Funke</strong></h5>
            <h6><small>funkemi@gmail.com</small></h6>
            <p><small>
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
            </small></p>
        </div>
        <hr />
        <div class='text-left ' style='padding:10px 10px'>
            <h5><strong>lara</strong></h5>
            <h6><small>omoladeomolara@gmail.com</small></h6>
            <p><small>
               dh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
            </small></p>
        </div>
        <hr />
        <div class='text-left ' style='padding:10px 10px'>
            <h5><strong>Babatunde</strong></h5>
            <h6><small>babatundeiyiola@gmail.com</small></h6>
            <p><small>
                 fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
            </small></p>
        </div>
        <hr />
        <div class='text-left ' style='padding:10px 10px'>
            <h5><strong>glory</strong></h5>
            <h6><small>glorywhite@gmail.com</small></h6>
            <p><small>
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                khdkfjhaskdf hksjdhf kdh kjsdhf kjshdkfhskdhfkjsadh fkjshdf ksjhadfkjhsd fkjhasdkfjhskdjhfksdjhf
                k
            </small></p>
        </div>
        <hr />
    </div>
    <hr />


    
{% endblock %}